.genre-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin: 1rem 0; /* optional spacing */
  }
  
  